@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    

}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main{
    background-color: rgb(242, 245, 245);
}

.oferta{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    h4{
        padding: 5px;
    }
}
.cabecera{
    display: flex;
    justify-content: space-between;

    
    h2{
        font-family: "Bebas Neue";
        margin-left: 100px;
        align-items: center;
        font-size: 30px;
        font: bold;

    }
    
}
.nav{
    display:flex;
    justify-content: space-between;

}
.item-nav{
    margin-left: 3rem;
}
.submenu{
    display: none;

            position: absolute;
            z-index: 10;
            top: 20px;
            left: 0;

            padding: 10px 0;
    
}
.items-nav:hover .submenu{
            display: block;
        }


.banner{
    margin: 16px;
    text-align: center;
    
    border-radius: 2px black;
    h2{
        margin-bottom: 20px;

    }
}



.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 100px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 30px;
}

.card {
    background-color: #fff;
    width: 300px;
    border-radius: 12px ;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }


  .card img {
    width: 100%;
    height: 180px;
    
  }

  .card-content {
    padding: 16px;
  }

  .card-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
  }
  .titulo{
    text-align: center;
    font-size: 24px;
  }

.items{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    
    
}
.item {
    background-color: #fff;
    width: 300px;
    border: 1px black;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    overflow: hidden;

    .fa-heart{
        position: absolute;
        margin-left: 275px;
        margin-top: 5px;
        
    }
    .fa-solid{
        color: red;
    }
    .fa-regular{
        color: #007bff;

    }
  }

  .item {
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
  }

  .item img {
    width: 100%;
    height: 180px;
    
  }

  .item-content {
    padding: 16px;
  }

  .item-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .item-description {
    font-size: 30px;
    color: #555;
    margin-bottom: 36px;
    text-align: center;
    padding-top: 1px;
  }

  .item-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8d8d8d;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  footer{
    
 
    background-color: rgb(21, 21, 21);
    color: white;
    
  }
  .aaa{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    h4{
        font-size: 20px;
    }
    .fa-brands{
        border: 1pxwhite;
        border-radius: 2px;
        color: white;
    
    }
  }
  .bbb{
    color: #555;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
  }


  @media (max-width: 767px){
    .banner{
        display: none;
    }
    .items{
    
        display: grid;
        grid-template-columns: auto;
    }
  }


